<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="google-site-verification" content="3ROs6FQHNgIIQqavlvhnPww4VMJKhP09dGfcU8BTFVc" />
    <script src="https://apis.google.com/js/platform.js" async defer></script>
    <meta name="google-signin-client_id" content="656848980705-0k5h424rujcfhseq1mgr8mtpfs54op7d.apps.googleusercontent.com">
    <script src="assets/js/facebook.js"></script>
    <title>Pay it Forward</title>
</head>
<body>
<h1>Pay it Forward</h1>
<fb:login-button scope="public_profile,email" onlogin="checkLoginState();">
</fb:login-button>

<div id="status">
</div>
<a href="#" onclick="fbLogout();">Sign out of Facebook</a>
<div class="g-signin2" data-onsuccess="onSignIn"></div>
<a href="#" onclick="signOut();">Sign out of Google</a>
    {{{body}}}
</body>
</html>
