<link rel='stylesheet' href='/assets/css/style.css' />
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

<!-- this links are for the toggle -->
<link href="https://gitcdn.github.io/bootstrap-toggle/2.2.2/css/bootstrap-toggle.min.css" rel="stylesheet">
<script src="https://gitcdn.github.io/bootstrap-toggle/2.2.2/js/bootstrap-toggle.min.js"></script>



<!-- Sign up Section -->
<section id="signUp">
    <div class="container">
        <h2 class="text-center">Please fill the required info</h2>
        <hr class="star-primary">
        <div class="row">
            <div class="col-lg-8 mx-auto">
                <!-- To configure the contact form email address, go to mail/contact_me.php and update the email address in the PHP file on line 19. -->
                <!-- The form should work on most web servers, but if the form is not working you may need to configure your web server differently. -->
                <form name="sentMessage" id="contactForm" novalidate>
                    <div>
                        Sign up as donor?
                        <br>
                        <input id="toggle-event" type="checkbox" data-toggle="toggle" data-on="Donor" data-off="Recipient">

                        <label class="checkbox-inline anonyInput">
                                        <input type="checkbox" id="anony" checked data-toggle="toggle"> Stay Anonymous?
                                </label>


                    </div>
                    <br>

                    <div class="control-group">
                        <div class="form-group floating-label-form-group controls">
                            <label>First name</label>
                            <input class="form-control" id="firstName" type="text" placeholder="First Name" required data-validation-required-message="Please enter your first name.">
                            <p class="help-block text-danger"></p>
                        </div>
                    </div>

                    <div class="control-group">
                        <div class="form-group floating-label-form-group controls">
                            <label>Last name</label>
                            <input class="form-control" id="lastName" type="text" placeholder="Last Name" required data-validation-required-message="Please enter your last name.">
                            <p class="help-block text-danger"></p>
                        </div>
                    </div>



                    <div class="control-group">
                        <div class="form-group floating-label-form-group controls">
                            <label>Email Address</label>
                            <input class="form-control" id="email" type="email" placeholder="Email Address" required data-validation-required-message="Please enter your email address.">
                            <p class="help-block text-danger"></p>
                        </div>
                    </div>

                    <div class="control-group hideShow">
                        <div class="form-group floating-label-form-group controls">
                            <label>Loan Amout</label>
                            <input class="form-control" id="loanAmout" type="tel" placeholder="100 only round number please" required data-validation-required-message="Please enter how much you need?.">
                            <p class="help-block text-danger"></p>
                        </div>
                    </div>

                    <div class="control-group hideShow">
                        <div class="form-group floating-label-form-group controls">
                            <label>Please tell us why you need the loan?</label>
                            <textarea class="form-control" name="history" id="message" rows="5" placeholder="This field is required" required data-validation-required-message="Please enter a message."></textarea>
                            <p class="help-block text-danger"></p>
                        </div>
                    </div>


                    <br>
                    <!-- <div id="success"></div> -->
                    <div class="form-group">
                        <button type="submit" class="btn btn-success btn-lg" id="sendInfo">Send</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>

</body>
<script>
    $(function () {

        // this hide the following field until donor checkbox is on 
        $(".anonyInput").hide();
        // some comment
        $('#toggle-event').change(function () {
            if ($(this).prop('checked')) {
                $(".hideShow").hide();
                $(".anonyInput").show();
            } else {
                $(".hideShow").show();
                $(".anonyInput").hide();
            }
        });

        // the donor is anonymous by default
        var anony = 1;
        $("#anony").change(function () {
            if (!$(this).prop('checked')) {
                anony = 0;
            }
        })





        $("#sendInfo").on("click", function (event) {
            // Make sure to preventDefault on a submit event.
            event.preventDefault();
            if ($("#toggle-event").prop('checked')) {


                var Firstname = $("#firstName").val().trim();
                var Lastname = $("#lastName").val().trim();
                var email = $("#email").val().trim();

                if (validateChar(Firstname) && validateChar(Lastname) && valEmail(email)) {


                    var newDoner = {
                        first_name: Firstname,
                        last_name: Lastname,
                        email: email,
                        anonymous: anony,
                    };

                    console.log(newDoner);

                    // Send the POST request.
                    $.ajax("/donor/signup", {
                        type: "POST",
                        data: newDoner
                    }).then(
                        function () {
                            console.log("created new doner");
                            // Reload the page to get the updated list
                            $.ajax("/login", {
                                type: "POST",
                                data: {
                                    email: newDoner.email
                                }
                            }).then(
                                function (data) {
                                    console.log("data coming from backend", data);
                                    // Reload the page to get the updated list
                                    if (data.status === "user") {
                                        window.location.href = "/user/dashboard/"+data.id;
                                      }
                                });
                        });
                }

            } else {
                console.log("you are user");


                var Firstname = $("#firstName").val().trim();
                var Lastname = $("#lastName").val().trim();
                var email = $("#email").val().trim();
                var loan = $("#loanAmout").val().trim();
                var userStory = $("#message").val().trim();

                if (validateChar(Firstname) && validateChar(Lastname) && valEmail(email) && valNumb(
                        loan) && (userStory !== "")) {



                    var newUser = {
                        first_name: Firstname,
                        last_name: Lastname,
                        email: email,
                        loan_amt: loan,
                        user_story: userStory
                        // user_img:
                    };

                    console.log(newUser);

                    // Send the POST request.
                    $.ajax("/user/signup", {
                        type: "POST",
                        data: newUser
                    }).then(
                        function () {
                            console.log("created new user");
                            // Reload the page to get the updated list
                            $.ajax("/login", {
                                type: "POST",
                                data: {
                                    email: newUser.email
                                }
                            }).then(
                                function (data) {
                                    console.log("data coming from backend", data);
                                    // Reload the page to get the updated list
                                    if (data.status === "donor") {
                                        window.location.href = "/donor/dashboard/" + data.id;
                                    } 
                                });
                        });

                }
            }

        });


        function valEmail(email) {

            if (/^([a-zA-Z0-9_\.\-])+\@(([a-zA-Z0-9\-])+\.)+([a-zA-Z0-9]{2,4})+$/.test(email)) {
                return true;
            }
            alert("That is not a valid email address");
            return false;
        }


        function valNumb(loanN) {

            if (/^\d+$/.test(loanN)) {
                return true;
            }

            alert("Please re-enter loan amount");

            return false;
        }



        function validateChar(term) {
            if (term == "") {

                alert("Please fill the required fields");

                return false;
            }
            if (/!^[a-zA-Z]*$/g.test(term)) {

                alert("Invalid characters");
                return false;
            }
            return true;
        }


    });
</script>